<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity	name="LargeAssembly"
								publicKeyToken="70F65FBDD69F8509"
								culture="neutral"/>
            <codeBase version="1.0.0.0"
                      href="file://C:/Nick/DOT_NET_PERF_VOL_1/reference/BookSamples/LoadTest/LargeAssembly/bin/Release/LargeAssembly.dll"/>
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
