<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
   <system.runtime.remoting>
      <application>
      <service>
        <wellknown mode="Singleton" type="RemotingPerfLibrary.DataManager,RemotingPerfLibrary" objectUri="DataManager.rem" />
        <wellknown mode="SingleCall" type="RemotingPerfLibrary.DataManager,RemotingPerfLibrary" objectUri="DataManagerSC.rem" />
      </service>

      <channels>
        <channel ref="http" port="1235" />
        <channel ref="tcp" port="1236" />
      </channels>
      </application>
   </system.runtime.remoting>
</configuration>
